<div id="<%= dom_id meal_plan %>">
  <p>
    <strong>Start date:</strong>
    <%= meal_plan.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= meal_plan.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= meal_plan.user_id %>
  </p>

</div>
