<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= meal.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= meal.user_id %>
  </p>

</div>
