<h1>Editar Registro de Alimentação</h1>

<%= render 'form', daily_food_log: @daily_food_log %>

<%= link_to 'Visualizar', @daily_food_log %> |
<%= link_to 'Voltar', daily_food_logs_path %> <%# Se tiver uma index action %>